# Template for Zepto environment variables
# Run `python update_env.py` and paste your cURL to populate these automatically.

ZEPTO_COOKIE=""
ZEPTO_CART_ID=""
ZEPTO_STORE_ID=""
ZEPTO_DEVICE_ID=""
ZEPTO_SESSION_ID=""
ZEPTO_REQUEST_ID=""
ZEPTO_REQUEST_SIGNATURE=""
ZEPTO_CSRF_SECRET=""
ZEPTO_XSRF_TOKEN=""
ZEPTO_WIDGET_ID=""
ZEPTO_TIMEZONE_HEADER=""
ZEPTO_LAT="12.96902"
ZEPTO_LON="77.75395"
ZEPTO_STORE_IDS=""
ZEPTO_API_URL=
